
body{
    height: 1rem;
    background-color: black;
    overflow: hidden;
    
}

input::placeholder {
    color: grey;
    font-size: 30px;
    font-style: italic;
    
  
  }
  input[type="text"] {
    font-family: Verdana, sans-serif;
    font-size: 30px;
    text-indent: 10px;
    width: 400px;
    line-height: 50px;
    border-radius: 10px;
    border: 4px solid lightcoral;
    outline-width: 0px;
    
    
  }
.input-container{
    position: absolute;
    top: 10px;
    width: 400px;
    height: 60px;
    outline-width: 0px;
    
}

@media ( max-width:500px ){
    input::placeholder {
    font-size: 20px;
  
      }
    .input-container{
        
        width: 10px;
        left: 10px;
       
    }
    #map{
        
        height: 1000px !important;
        width: 100% !important;
        
    }
    
    input[type="text"]{
        width: 280px;
        margin-left: 40px;
        font-size: 20px;
    }
    
    #showTableBtn {
        top: 73px !important;
        left: 40px !important;
        
    }
    #showGraphBtn{
    margin-top: 50px;
    left: 200px;
    }
    #showTableBtn,  #showGraphBtn{
        font-size: 14px !important;
    }
    #chart-data, #chart-data-r, #chart-data-d{
    height: 40vh !important;
    width: 150vw !important;
    
    top: 280px !important;
    left: -110px;
    transform: rotate(90deg);
   
    
    }
    .modal-instructions,.all-users{
        font-size: 20px;
    }
    
    #btn-deaths-graph{
        top: 20px !important;
        right: 130px !important;
        }
    #btn-recovered-graph{
            top: 83px !important;
            right: 230px !important;
            
            }

    #btn-country, #btn-recovered, #btn-cases, #btn-deaths{
        font-weight: 900 !important;
        
    }
    
    #country-data-container{
        
        width: 405px !important;
        height: 500px !important;
        right: 8px !important;
        top: 150px !important;
        font-weight: 800 !important;
        font-size: 11px !important;
    }
  
    .info-flag img {
        width: 220px !important;
        border-bottom: 15px;
    
    }
    .info-flag {
        height: 150px;
        width: 220px !important;
        background-size: cover;
        border: 4px solid black;
        border-radius: 10px;
    }
    
    .infor-data-container, .info-container{
        width: 220px !important;
        height: 50px !important;
       
    }
    .info-name {
        font-size: 20px !important;
        font-weight: bold;
        color: black;
        margin-top: 10px;
        text-align: center;
    }
    
    .info-numbers{
        width: 50px !important;
    }

    .info-titles, .info-numbers{
        font-size: 15px !important;
    }
    
    
    .indv-countries{
    font-size: 30px !important;
    width: 350px !important;
    
   
    
}

    .listOfCountries-container{
    
    margin-top: 50px;
    width: 350px !important;
    height: 600px !important;
    border-radius: 10px !important;
    
   

}
    .table-input{
        width: 350px !important;
    }

}
@media (max-width: 380px){
    #country-data-container{
        width: 360px !important;
        right: 5px !important;
        font-size: 11px !important;
    }
}

@media(max-width: 900px){

    #map{
        width: 100% !important;
    }
    #showTableBtn{
        top: 25px;
        left: -160px ;
        border: 4px solid white !important;
    }
    #showGraphBtn{
    right: -420px !important;
    }
    #country-data-container{
        
        font-weight: 700 !important;
        
    }
    .list-data{
        font-size: 14px !important;
    }
    #showGraphBtn, #showTableBtn{
        font-size: 14px !important;
        font-weight: 800 !important;
    }
    #btn-country, #btn-recovered, #btn-cases, #btn-deaths{
       font-weight: 900 !important;
        
    }
    
    
  
}
@media (max-height: 500px){
    #map{
        height: 475px !important;
    }
    #btn-recovered-graph{
        top: 35px !important;
        right: 250px !important;
    }
    #btn-deaths-graph{
        top: 35px !important;
        right: 480px !important;
    }

    #myChart, #myChart-r, #myChart-d{
        top: 10px !important;
        }
        #chart-data, #chart-data-r, #chart-data-d{
            top: 80px !important;
            width: 750px !important;
        }
        #country-data-container{
            width: 600px !important;
            height: 350px !important;
            top: 10px !important;
            right: 10px !important;

        }
        .info-container, .infor-data-container {
            width: 222px !important;
            height: 30px !important;
            
           
           
        }
        .info-name{
            font-size: 20px !important;
            height: 39px !important;
        }
        .info-titles, .info-numbers{
            font-size: 16px !important;
        }
        .info-numbers{
            width: 50px !important;
            
        }
        body{
            
            overflow: auto !important;
            
        }
        

}
#btn-country, #btn-recovered, #btn-cases, #btn-deaths{
    border: 2px solid white;
    border-radius: 10px !important;
    outline-width: 0px !important;
    font-weight: 700 !important;
    
}
.input-countriesDisplay-container{
    border: 4px solid white;
}

#showTableBtn{
    border: 4px solid white;
    position: absolute;
    bottom: 5px;
    height: 40px;
    right: -400px;
    color: ivory;
    width: 140px;
    background-color:#26bde2;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    outline-width: 0px;
}
#showGraphBtn{
    border: 4px solid white;
    position: relative;
    bottom: 45px;
    height: 40px;
    right: -450px;
    width: 150px;
    color: ivory;
    background-color:#26bde2;
    border-radius: 10px;
    height: 40px;
    font-size: 20px;
    font-weight: 500;
    outline-width: 0px;
}

button:not(:disabled) {
    cursor: pointer;
    outline-width: 0px;
}


button{
  
    outline-width: 0px;
}
.indv-countries{

    background-color: lightcoral;
    font-size: 40px;
    height: 120px;
    border-radius: 10px;
    outline-width: 0px;


}

.table-input{
    width: 400px;
    background-color: lightcoral;
    border-radius: 10px;
    outline-width: 0px;  
    height: 120px;
}
#btn-cases{
    color: white;
}

.btns-input{
border-radius: 10px;
outline-width: 0px;
border: 4px solid white;
}
.listOfCountries-container{
    height: 0px;  
    width: 400px;
    top: 120px;
    position: absolute;
    overflow: auto;
    display: flex;
    text-align: center;
    border-radius: 10px;
}

#btn-recovered-graph, #btn-deaths-graph{
visibility: hidden;
height: 40px;
width: 150px;
}
.visible-d, .visible-r{
    height: 40px;
    width: 180px;
}
#btn-recovered-graph{
    border: 4px solid white;
    position: absolute;
    top: 25px;
    right: 630px;
    width: 150px;
    color: ivory;
    border-radius: 10px;
    height: 40px;
    font-size: 20px;
    font-weight: 500;
    outline-width: 0px;
}
#btn-deaths-graph{
    border: 4px solid white;
    position: absolute;
    top: 25px;
    height: 40px;
    right: 900px;
    width: 150px;
    color: ivory;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    outline-width: 0px;
   
}
#chart-data, #chart-data-r, #chart-data-d{
    position: absolute;
    top: 100px;
    
    visibility: hidden;
    
    
    
}

#myChart, #myChart-r, #myChart-d{
background-color: white;
}
#myChart{
    border-radius: 10px;
    border: 4px solid orange;

}
#myChart-r{
    border-radius: 10px;
    border: 4px solid lime;

}
#myChart-d{
    border-radius: 10px;
    border: 4px solid red;

}

.map-info {
    
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
   
    
}

  
#map  {
    
    width: 100%;
    height: 1000px;
    position: relative;
    bottom: 100px;  
   
}
.info-flag img {
        
    width: 220px !important;
    border-bottom: 15px;
    

}
.info-flag {
    height: 150px;
    width: 220px !important;
    background-size: cover;
    border: 4px solid black;
    border-radius: 10px;
    
    
}

.info-name {
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin-top: 10px;
    text-align: center;
}

.info-container {
    width: 230px;
    height: 300px;
}


.title-1{
color: darkorange;
}
.title-2{
color: limegreen;
}
.title-3{
color: red;
}
.info-titles, .info-numbers{
font-size: 18px;
}
.info-numbers{
    
    margin-top: 5px;
    width: 60px;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: bold;
    
}
.info-titles{
   
    width: 160px;
    margin-top: 5px;
    float: left;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    font-weight: bold;
}

#country-data-container {
    position: absolute;
    width: 1000px;
    height: 580px;
    border-radius: 10px;
    overflow: auto !important;
    font-size: 30px;
    border:4px solid white ;
    font-weight: 600;
    top: 70px;
    visibility: hidden;
    background-color:#212529 ;
    
}

tr{
    text-align: center;
}

.modal-title{
    color:white;
    border-radius: 10px;
    width: 1800px;
    background-color: black;
    
}
.modal-instructions{
    color: black;
    background-color: white;
    border-radius: 10px;
    font-weight: 700;
}
.modal{
    text-align: center;
}
.all-users{
    font-weight: 700;
}
ul{
    font-weight: 500;
}
#text-red{
    color: red;
}